input.form-control {
    margin-bottom: 5px;
}

/* Prevent word-wrap  */
.navbar {
    white-space: nowrap;
}

#body {
    padding-top: 100px;
    padding-bottom: 100px;
}
.custom{
    color:#7f8c8d;
    opacity:0.7;
}

a:visited #heart{
    color:red
}

img {
    width: 40%;
    height: 20%;
}

/*#posts {*/
    /*width: 800px;*/
    /*height: 00px;*/

/*}*/


