<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Website</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../../../css/style.css" rel="stylesheet"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="row container-fluid">
        <div class="navbar-text pull-left">
            <a href="../../page/templates/page-list.html" class="navbar-link">
                <span class="glyphicon glyphicon-chevron-left"></span>
                </span>
            </a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                Widgets
            </a>
        </div>
        <div class="navbar-text pull-right">
            <a href="../../page/templates/page-list.html" class="navbar-link">
                <span class="glyphicon glyphicon-plus"></span>
                </span>
            </a>
        </div>
    </div>
</nav>
<div class="row container-fluid">

      <ul class="list-group">
          <li class="list-group-item">
              <div>
              <div class="jga-toolbar">
              <a href="widget-heading.view.client.html" class="pull-right">
                  <span class="glyphicon glyphicon-cog"></span>
              </a>
              <a href="widget-chooser.view.client.html"  class="pull-right">
                  <span class="glyphicon glyphicon-menu-hamburger"></span>
              </a>
            </div>
                <h1>CNN</h1>
              </div>
          </li>
          <li class="list-group-item">
              <div>
                  <div class="jga-toolbar">
                      <a href="widget-heading.view.client.html" class="pull-right">
                          <span class="glyphicon glyphicon-cog"></span>
                      </a>
                      <a href="widget-chooser.view.client.html"  class="pull-right">
                          <span class="glyphicon glyphicon-menu-hamburger"></span>
                      </a>
                  </div>
                  <h3>  Earth Day picked as date for science march on Washington</h3>
              </div>
          </li>
          <li class="list-group-item">
              <div>
                  <div class="jga-toolbar">
                      <a href="widget-heading.view.client.html" class="pull-right">
                          <span class="glyphicon glyphicon-cog"></span>
                      </a>
                      <a href="widget-chooser.view.client.html"  class="pull-right">
                          <span class="glyphicon glyphicon-menu-hamburger"></span>
                      </a>
                  </div>
              <img src="http://i2.cdn.cnn.com/cnnnext/dam/assets/170123100348-womens-march-washington-exlarge-169.jpg"
                   alt="Women's March on Washington">
                  </div>
          </li>
          <li class="list-group-item">
              <div>
                  <div class="jga-toolbar">
                      <a href="widget-heading.view.client.html" class="pull-right">
                          <span class="glyphicon glyphicon-cog"></span>
                      </a>
                      <a href="widget-chooser.view.client.html"  class="pull-right">
                          <span class="glyphicon glyphicon-menu-hamburger"></span>
                      </a>
                  </div>
                  Just like protesters who have taken to the streets and airports -- for the Women's March and against the travel ban -- scientists are planning their own march.

                  The group behind the March for Science in Washington just announced in a tweet that they will rally on April 22 -- Earth Day.
                  View image on Twitter
              </div>
          </li>

          <li class="list-group-item">
              <div>
                  <div class="jga-toolbar">
                      <a href="widget-heading.view.client.html" class="pull-right">
                          <span class="glyphicon glyphicon-cog"></span>
                      </a>
                      <a href="widget-chooser.view.client.html"  class="pull-right">
                          <span class="glyphicon glyphicon-menu-hamburger"></span>
                      </a>
                  </div>
                  <h3>  Rex Tillerson confirmed as secretary of state</h3>
              </div>
          </li>
          <li class="list-group-item">
              <div>
                  <div class="jga-toolbar">
                      <a href="widget-heading.view.client.html" class="pull-right">
                          <span class="glyphicon glyphicon-cog"></span>
                      </a>
                      <a href="widget-chooser.view.client.html"  class="pull-right">
                          <span class="glyphicon glyphicon-menu-hamburger"></span>
                      </a>
                  </div>
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/jIfHdzCeEfc" frameborder="0" allowfullscreen></iframe>
              </div>
          </li>
          <li class="list-group-item">
              <div>
                  <div class="jga-toolbar">
                      <a href="widget-heading.view.client.html" class="pull-right">
                          <span class="glyphicon glyphicon-cog"></span>
                      </a>
                      <a href="widget-chooser.view.client.html"  class="pull-right">
                          <span class="glyphicon glyphicon-menu-hamburger"></span>
                      </a>
                  </div>
                  The Senate confirmed Rex Tillerson to be secretary of state by a 56-43 vote.

                  The former Exxon Mobil chief executive was criticized by Democrats and Republicans because of his alleged closed ties to top Russian officials, including President Vladimir Putin. But in the end, all Republicans voted for his confirmation as did four members of the Democratic caucus.
              </div>
          </li>
          <li class="list-group-item">
          </li>
      </ul>

    </div>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text pull-left">

            <a href="#">
                <span class="glyphicon glyphicon-triangle-right"></span>
            </a>
            <a href="#">
                <span class="glyphicon glyphicon-eye-open"></span>
            </a>

        </div>
        <div class="navbar-text pull-right">

            <a href="../../user/templates/profile.view.client.html">
                <span class="glyphicon glyphicon-user"></span>
            </a>

        </div>
    </div>
</nav>

</body>
</html>