
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="row container-fluid">
        <div class="navbar-text pull-left">
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page" class="navbar-link">
                <span class="glyphicon glyphicon-chevron-left"></span>
                </span>
            </a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                Edit Page
            </a>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <h1> YO </h1>
{{model.widget.widgetType}}
    <div ng-switch="model.widget.widgetType">
        <div ng-switch-when="HEADER">
            <ng-include src="'views/widget/templates/widget-heading.view.client.html'"/>
        </div>
        <div ng-switch-when="IMAGE">
            <ng-include src="'views/widget/templates/widget-image.view.client.html'"/>
        </div>
        <div ng-switch-when="YOUTUBE">
            <ng-include src="'views/widget/templates/widget-youtube.view.client.html'"/>
        </div>
    </div>
</div>

    <a ng-click="model.deleteWidget()" class="btn btn-danger btn-block" href="model.updateWidget(widget)" href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget">
        Delete
    </a>

</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text pull-right">

            <a  href="#/user/{{model.userId}}">
                <span class="glyphicon glyphicon-user"></span>
            </a>

        </div>
    </div>
</nav>
