<nav class="navbar navbar-default navbar-fixed-top">
    <div class="row container-fluid">
        <div class="navbar-text pull-left">
            <a href="#/user/:uid/website/:wid/page/:pid/widget" class="navbar-link">
                <span class="glyphicon glyphicon-chevron-left"></span>
                </span>
            </a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                Widget Edit
            </a>
        </div>
    </div>
</nav>
<div class="container fluid">
    <label for="name">Name</label>
    <input class="form-control" id="name" placeholder="">
    <label for="title">Text</label>
    <input class="form-control" id="title" placeholder="">
    <label for="url">URL</label>
    <input ng-model="model.url" class="form-control" id="url" placeholder="http://i2.cdn.cnn.com/cnnnext/dam/assets/170123100348-womens-march-washington-exlarge-169.jpg">
    <label for="url">Width</label>
    <input ng-model="model.width" class="form-control" id="width" placeholder="100%">
    <label for="pic">Upload</label>
    <input class="file" id="pic" accept="image/*">
    <a class="btn btn-primary btn-block" href="#/user/{{model.userId}}/website/{{odel.websiteId}}/page/{{model.pageId}}/widget/new">
        Upload Image
    </a>
    <a class="btn btn-danger btn-block" href="#/user/{{model.userId}}/website/{{odel.websiteId}}/page/{{model.pageId}}/widget">
        Delete
    </a>

</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text pull-right">

            <a href="#/login">
                <span class="glyphicon glyphicon-user"></span>
            </a>

        </div>
    </div>
</nav>
