<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List Widget<title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../../../css/style.css" rel="stylesheet"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="row container-fluid">
        <div class="navbar-text pull-left">
            <a href="#/user/:uid/website/:wid/page" class="navbar-link">
                <span class="glyphicon glyphicon-chevron-left"></span>
                </span>
            </a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                Widgets
            </a>
        </div>
        <div class="navbar-text pull-right">
            <a href="#/user/:uid/website/:wid/page/:pid/widget/new" class="navbar-link">
                <span class="glyphicon glyphicon-plus"></span>
                </span>
            </a>
        </div>
    </div>
</nav>
<div class="row container-fluid">

      <ul class="list-group">
          <li class="list-group-item">
              <div ng-repeat="widget in model.widgets">

                  <div ng-repeat="widget in widgets">
                      <div ng-switch-when="HEADING">
                          <ng-include src="'widget-heading.view.client.html'"/>
                      </div>
                      <div ng-switch-when="IMAGE">
                          <ng-include src="'widget-image.view.client.html'"/>
                      </div>
                      <div ng-switch-when="YOUTUBE">
                          <ng-include src="'widget-youtube.view.client.html'"/>
                      </div>
                  </div>

                  <div class="jga-toolbar">
              <a href="#/user/:uid/website/:wid/page/:pid/widget/:wgid" class="pull-right">
                  <span class="glyphicon glyphicon-cog"></span>
              </a>
              <a href="#/user/:uid/website/:wid/page/:pid/widget/new"  class="pull-right">
                  <span class="glyphicon glyphicon-menu-hamburger"></span>
              </a>
            </div>
                <h1>{{widget.name}}</h1>
              </div>

          </li>
      </ul>

    </div>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text pull-left">

            <a href="#">
                <span class="glyphicon glyphicon-triangle-right"></span>
            </a>
            <a href="#">
                <span class="glyphicon glyphicon-eye-open"></span>
            </a>

        </div>
        <div class="navbar-text pull-right">

            <a href="#/login">
                <span class="glyphicon glyphicon-user"></span>
            </a>

        </div>
    </div>
</nav>

</body>
</html>