<nav class="navbar navbar-default navbar-fixed-top">
    <div class="row container-fluid">
        <div class="navbar-text pull-left">
            <a href="#/user/:uid/website/:wid/page/:pid/widget" class="navbar-link">
                <span class="glyphicon glyphicon-chevron-left"></span>
                </span>
            </a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                Widget Edit
            </a>
        </div>
    </div>
</nav>
<div class="container fluid">
    <label for="name">Name</label>
    <input class="form-control" id="name" placeholder="">
    <label for="title">Text</label>
    <input class="form-control" id="title" placeholder="">
    <label for="url">URL</label>
    <input ng-model="{{model.widget.url}}" class="form-control" id="url">
    <label for="url">Width</label>
    <input ng-model="{{model.widget.width}}" class="form-control" id="width">
    <label for="pic">Upload</label>
    <input class="file" id="pic" accept="image/*">

    <form action="/api/upload"   method="post" enctype="multipart/form-data">
        <input  name="myFile"    type="file" class="form-control"/>
        <input  name="width"     value="{{model.widget.width}}" style="display: none"/>
        <input  name="userId"    value="{{model.userId}}"   style="display: none"/>
        <input  name="websiteId" value="{{model.websiteId}}"   style="display: none"/>
        <input  name="pageId"    value="{{model.pageId}}"   style="display: none"/>
        <input  name="widgetId"  value="{{model.widget._id}}"   style="display: none"/>
        <button type="submit"    class="btn btn-block btn-primary">Upload Image</button>
    </form>

    <a class="btn btn-danger btn-block" href="#/user/{{model.userId}}/website/{{odel.websiteId}}/page/{{model.pageId}}/widget">
        Delete
    </a>

</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text pull-right">

            <a href="#/login">
                <span class="glyphicon glyphicon-user"></span>
            </a>

        </div>
    </div>
</nav>
