<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Choose Widget</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../../../css/style.css" rel="stylesheet"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="row container-fluid">
        <div class="navbar-text pull-left">
            <a href="#/user/:uid/website/:wid/page" class="navbar-link">
                <span class="glyphicon glyphicon-chevron-left"></span>
                </span>
            </a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                Pages
            </a>
        </div>
    </div>
</nav>
<>
<div class="container-fluid">
    <ul class="list-group">
        <li class="list-group-item">
            <a href="widget-heading.view.client.html"> Header </a>
        </li>
        <li class="list-group-item">
        <a href=#>  Label </a>
        </li>
        <li class="list-group-item">
            <a href=#> HTML </a>
        </li>
        <li class="list-group-item">
            <a href=#> Text Input </a>
        </li>
        <li class="list-group-item">
            <a href=#> Link </a>
        </li>
        <li class="list-group-item">
            <a href=#> Button </a>
        </li>
        <li class="list-group-item">
            <a href="widget-image.view.client.html"> Image </a>
        </li>
        <li class="list-group-item">
            <a href="widget-youtube.view.client.html"> Youtube </a>
        </li>
        <li class="list-group-item">
            <a href=#> Data Table </a>
        </li>
        <li class="list-group-item">
            <a href=#> Repeater </a>
        </li>
    </ul>



</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text pull-right">

            <a href="#/login">
                <span class="glyphicon glyphicon-user"></span>
            </a>

        </div>
    </div>
</nav>


</body>
</html>