<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Website</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../../../css/style.css" rel="stylesheet"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="row container-fluid">
        <div class="navbar-text pull-left">
            <a href="widget-list.html" class="navbar-link">
                <span class="glyphicon glyphicon-chevron-left"></span>
                </span>
            </a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                Widget Edit
            </a>
        </div>
    </div>
</nav>
<>
<div class="container fluid">
    <label for="name">Name</label>
    <input class="form-control" id="name" placeholder="">
    <label for="title">Text</label>
    <input class="form-control" id="title" placeholder="">
    <label for="url">URL</label>
    <input class="form-control" id="url" placeholder="http://i2.cdn.cnn.com/cnnnext/dam/assets/170123100348-womens-march-washington-exlarge-169.jpg">
    <label for="url">Width</label>
    <input class="form-control" id="width" placeholder="100%">
    <label for="pic">Upload</label>
    <input class="file" id="pic" accept="image/*">
    <a class="btn btn-primary btn-block" href="widget-chooser.view.client.html">
        Upload Image
    </a>
    <a class="btn btn-danger btn-block" href="widget-chooser.view.client.html">
        Delete
    </a>

</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text pull-right">

            <a href="../../user/templates/profile.view.client.html">
                <span class="glyphicon glyphicon-user"></span>
            </a>

        </div>
    </div>
</nav>

</body>
</html>