
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="row container-fluid">
        <div class="navbar-text pull-left">
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget" class="navbar-link">
                <span class="glyphicon glyphicon-chevron-left"></span>
                </span>
            </a>
        </div>
        <div class="navbar-text pull-right">
            <a ng-click="model.updateWidget(widget)" href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget" class="navbar-link">
                <span class="glyphicon glyphicon-ok"></span>
                </span>
            </a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                Widget Edit
            </a>
        </div>
    </div>

<div class="container fluid">
    <h1> YO </h1>
    <label for="name">Name</label>
    <input class="form-control" id="name" placeholder="Current widget name">
    <label for="title">Text</label>
    <input ng-model="model.widget.text" class="form-control" id="title" placeholder="This is the current page title.">
    <label for="size">Size</label>
    <input ng-model="model.widget.size" class="form-control" id="size" placeholder="12">
    <a class="btn btn-danger btn-block" href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget">
        Delete
    </a>

</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text pull-right">

            <a href="#/login">
                <span class="glyphicon glyphicon-user"></span>
            </a>

        </div>
    </div>
</nav>