
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="row container-fluid bg-primary">
        <div class="col-sm-4 hidden-xs">
            <div class="navbar-text pull-left">
                <a href="#/user/{{model.websites.developerId}}/website" class="navbar-link">
                    <span class="glyphicon glyphicon-chevron-left" style="color:white"></span>
                    </span>
                </a>
            </div>
            <div class="navbar-header">
                <a class="navbar-brand" style="color:white" href="#/user/{{model.websites.developerId}}/website">
                    Websites
                </a>
            </div>
            <div class="navbar-text pull-right">
                <a href="#/user/{{model.websites.developerId}}/website/new" class="navbar-link">
                    <span class="glyphicon glyphicon-plus" style="color:white"></span>
                    </span>
                </a>
            </div>
        </div>
        <div class="col-sm-8">
            <p class="navbar-text pull-left visible-xs">
                <a href="#/user/{{model.websites.developerId}}/website" class="navbar-link">
                    <span class="glyphicon glyphicon-chevron-left" style="color:white"></span>
                    </span>
                </a>
            </p>
        </div>
        <div class="navbar-header">
            <a ng-click="model.updateWebsite(website)" class="navbar-brand" style="color:white" href="#">
                Edit Website
            </a>
        </div>
        <div class="navbar-text pull-right">
            <a href="#/user/{{model.websites.developerId}}/website" class="navbar-link">
                <span class="glyphicon glyphicon-ok" style="color:white"></span>
                </span>
            </a>
        </div>
    </div>
</nav>
<>
<div class="container-fluid">
    <div class="col-sm-4 hidden-xs wbdv-left-pane">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Application Name
            </div>

    <ul class="list-group">
        <li ng-repeat= "website in wmodel.websites" class="list-group-item">
            <a href="#/user/{{model.websites.developerId}}/website/{{model.websites._id}}/page">
                {{model.websites.name}}
            </a>
            <a href="website-edit.view.client.html" class="pull-right">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
        </li>

    </ul>
 </div>
    </div>
<div class="col-xs-12 col-sm-8 wbdv-right-pane">
    <label for="name">Website Title</label>
    <input ng-model="model.websites.name" class="form-control" id="name" placeholder="Website Title">
    <label for="description">Website Description</label>
    <input ng-model="model.websites.description" class="form-control" id="description" placeholder="Website Description">
    <a ng-click="model.deleteWebsite()" class="btn btn-danger btn-block" href="#/user/:uid/website">
        Delete Website
    </a>
</div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid bg-primary">
        <div class="navbar-text pull-right">

            <a href="#/user/:uid">
                <span class="glyphicon glyphicon-user" style="color: white"></span>
            </a>

        </div>
    </div>
</nav>
</html>