<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Website</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../../../css/style.css" rel="stylesheet"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="row container-fluid bg-primary">
        <div class="col-sm-4 hidden-xs">
            <div class="navbar-text pull-left">
                <a href="website-list.view.client.html" class="navbar-link">
                    <span class="glyphicon glyphicon-chevron-left" style="color:white"></span>
                    </span>
                </a>
            </div>
        <div class="navbar-header">
            <a class="navbar-brand" style="color:white" href="#">
                Websites
            </a>
        </div>
            <div class="navbar-text pull-right">
                <a href="website-new.view.client.html" class="navbar-link">
                    <span class="glyphicon glyphicon-plus" style="color:white"></span>
                    </span>
                </a>
            </div>
        </div>
        <div class="col-sm-8">
            <p class="navbar-text pull-left visible-xs">
                <a href="#" class="navbar-link">
                    <span class="glyphicon glyphicon-chevron-left" style="color:white"></span>
                    </span>
                </a>
            </p>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand" style="color:white" href="#">
                New Website
            </a>
            </div>
        <div class="navbar-text pull-right">
                <a href="website-list.view.client.html" class="navbar-link">
                    <span class="glyphicon glyphicon-ok" style="color:white"></span>
                    </span>
                </a>
        </div>
    </div>
</nav>
<>
<div class="row container-fluid">
    <div class="col-sm-4 hidden-xs wbdv-left-pane">
        <div class="panel panel-primary">
        <div class="panel-heading">
            Application Name
        </div>

<ul class="list-group" >
    <li class="list-group-item">
        <a href="../../../page-list.html">
            Address Book App
        </a>
        <a href="website-edit.view.client.html" class="pull-right">
            <span class="glyphicon glyphicon-cog"></span>
        </a>
    </li>
    <li class="list-group-item">
        <a href="../../../page-list.html">
            Address Book App
        </a>
        <a href="website-edit.view.client.html" class="pull-right">
            <span class="glyphicon glyphicon-cog"></span>
        </a>
    </li>
    <li class="list-group-item">
        <a href="../../../page-list.html">
            Address Book App
        </a>
        <a href="website-edit.view.client.html" class="pull-right">
            <span class="glyphicon glyphicon-cog"></span>
        </a>
    </li>
    <li class="list-group-item">
        <a href="../../../page-list.html">
            Address Book App
        </a>
        <a href="website-edit.view.client.html" class="pull-right">
            <span class="glyphicon glyphicon-cog"></span>
        </a>
    </li>
</ul>
        </div>

</div>
<div class="col-xs-12 col-sm-8 wbdv-right-pane">

    <label for="name"> Website Title</label>
    <input class="form-control" id="name" placeholder="Website Name">
    <label for="description"> Website Description</label>
    <input class="form-control" id="description" placeholder="Website Description">
    <a class="btn btn-primary btn-block">
        Create
    </a>
    <a class="btn btn-danger btn-block" href="website-list.view.client.html">
        Cancel
    </a>
</div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid bg-primary">
        <div class="navbar-text pull-right">

            <a href="../../user/templates/profile.view.client.html">
                <span class="glyphicon glyphicon-user" style="color: white"></span>
            </a>

        </div>
    </div>
</nav>
</body>
</html>