<body>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="row container-fluid bg-primary">
        <div class="col-sm-4 hidden-xs">
            <div class="navbar-text pull-left">
                <a href="#/user/{{model.userId}}/website" class="navbar-link">
                    <span class="glyphicon glyphicon-chevron-left" style="color:white"></span>
                    </span>
                </a>
            </div>
            <div class="navbar-header">
                <a class="navbar-brand" style="color:white" href="#/user/{{model.userId}}/website">
                    Websites
                </a>
            </div>
            <div class="navbar-text pull-right">
                <a ng-click="model.createWebsite(model.website)" href="#/user/{{model.userId}}/website" class="navbar-link">
                    <span class="glyphicon glyphicon-plus" style="color:white"></span>
                    </span>
                </a>
            </div>
        </div>
        <!--<div class="col-sm-8">-->
            <!--<p class="navbar-text pull-left visible-xs">-->
                <!--<a href="#/user/{{model.developerId}}/website" class="navbar-link">-->
                    <!--<span class="glyphicon glyphicon-chevron-left" style="color:white"></span>-->
                    <!--</span>-->
                <!--</a>-->
            <!--</p>-->
        <!--</div>-->
        <div class="navbar-header">
            <a class="navbar-brand" style="color:white" href="#">
                Edit Website
            </a>
        </div>
        <div class="navbar-text pull-right">
            <a   ng-click="model.updateWebsite(model.website)" href="#/user/{{model.userId}}/website" class="navbar-link">
                <span class="glyphicon glyphicon-ok" style="color:white"></span>
                </span>
            </a>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <h1> YO </h1>

    <div class="col-sm-4 hidden-xs wbdv-left-pane">
        <div class="panel panel-primary">
        <li ng-repeat= "website in model.websites" class="list-group-item">
            <a href="#/user/{{website.developerId}}/website/{{website._id}}/page">
                {{website.name}}
            </a>
        </li>

    <!--</ul>-->
 </div>
    </div>
<div class="col-xs-12 col-sm-8 wbdv-right-pane">
    <label for="name">Website Title</label>
    <input ng-model="model.website.name" class="form-control" id="name" placeholder="Website Title">
    <label for="description">Website Description</label>
    <input ng-model="model.website.description" class="form-control" id="description" placeholder="Website Description">
    <a ng-click="model.deleteWebsite()" class="btn btn-danger btn-block" href="#/user/{{model.userId}}/website">
        Delete Website
    </a>
</div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid bg-primary">
        <div class="navbar-text pull-right">

            <a href="#/user/{{model.userId}}">
                <span class="glyphicon glyphicon-user" style="color: white"></span>
            </a>

        </div>
    </div>
</nav>
</body>