<body>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid bg-primary">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="#/user/{{model.websites.developerId}}" class="navbar-link">
                    <span class="glyphicon glyphicon-chevron-left" style="color:white"></span>
                    </span>
                </a>
            </p>
            <a class="navbar-brand" style="color:white" href="#">
                Websites
            </a>
        </div>
        <div>
            <p class="navbar-text pull-right">
                <a href="#/user/{{model.websites.developerId}}/website/new" class="navbar-link">
                    <span class="glyphicon glyphicon-plus" style="color:white"></span>
                    </span>
                </a>
            </p>
        </div>
    </div>
</nav>

<div class="container-fluid">
<h1> YO </h1>


    <ul class="list-group">
        <div  class="row-fluid">
            <div>
            <li ng-repeat= "website in model.websites" class="list-group-item">
                <a href="#/user/{{website.developerId}}/website/{{website._id}}/page">
                   {{website.name}}
                </a>
                <a href="#/user/{{website.developerId}}/website/{{website._id}}" class="pull-right">
                    <span class="glyphicon glyphicon-cog"></span>
                </a>
            </li>
           </div>
        </div>
    </ul>

</div>


<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid bg-primary">
        <div class="navbar-text pull-right">

            <a href="#/user/{{model.websites.developerId}}">
                <span class="glyphicon glyphicon-user" style="color: white"></span>
            </a>

        </div>
    </div>
</nav>
</body>
