<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Page List</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../../../css/style.css" rel="stylesheet"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="row container-fluid">
        <div class="navbar-text pull-left">
            <a href="../../website/templates/website-list.view.client.html" class="navbar-link">
                <span class="glyphicon glyphicon-chevron-left"></span>
                </span>
            </a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                Pages
            </a>
        </div>
        <div class="navbar-text pull-right">
            <a href="page-new.view.client.html" class="navbar-link">
                <span class="glyphicon glyphicon-plus"></span>
                </span>
            </a>
        </div>
    </div>
</nav>
<>
<div class="container-fluid">
<ul class="list-group">
    <div>
    <li ng-repeat="page in model.pages" class="list-group-item">
        <a href="#/user/:uid/website/:wid/page/:pid/widget">
            {{page.name}}
        </a>
        <a href="#/user/:uid/website/:wid/page/:pid" class="pull-right">
            <span class="glyphicon glyphicon-cog"></span>
        </a>
    </li>
    </div>
</ul>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text pull-right">

            <a href="#/user/:uid">
                <span class="glyphicon glyphicon-user"></span>
            </a>

        </div>
    </div>
</nav>

</body>
</html>