<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Page</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../../../css/style.css" rel="stylesheet"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="row container-fluid">
        <div class="navbar-text pull-left">
            <a href="page-list.view.client.html" class="navbar-link">
                <span class="glyphicon glyphicon-chevron-left"></span>
                </span>
            </a>
        </div>
        <div class="navbar-header">
            <a ng-click="model.createPage(page)" class="navbar-brand" href="#">
                New Page
            </a>
        </div>
        <div class="navbar-text pull-right">
            <a ng-model="model.createPage(page)" href="#/user/:uid/website/:wid/page" class="navbar-link">
                <span class="glyphicon glyphicon-ok"></span>
                </span>
            </a>
        </div>
    </div>
</nav>
<>
<div class="container-fluid">
    <label for="name"> Name </label>
    <input ng-model="model.page.name" class="form-control" id="name" placeholder="Page Name">
    <label for="title"> Title </label>
    <input ng-model="model.description" class="form-control" id="title" placeholder="Page Title">

</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text pull-right">

            <a href="../../user/templates/profile.view.client.html">
                <span class="glyphicon glyphicon-user"></span>
            </a>

        </div>
    </div>
</nav>
</body>
</html>